
<form action="">
  <div class="wrapper-for-task-form">
    <h1>Welcome to NotePad</h1>
    <input class="title" type="text" name="" id="title" placeholder="Your task title">
    <textarea class="text-cont" name="" id="" placeholder="Description"></textarea>
    <button class="submit-button" type="submit" id="submit">Add new task</button>
  </div>
</form>

<style>
  .wrapper-for-task-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;

    .title {
      margin: 5px 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      border-radius: 5px;
      text-decoration: none;
      background-color: rgb(222, 255, 244);
      border-width: 0px;
    }

    .text-cont {
      max-width: 496px;
      margin: 10px;
      border-radius: 5px;
      min-height: 60px;
      padding: 10px;
      font-size: 16px;
      text-decoration: none;
      background-color: rgb(222, 255, 244);
      border-width: 0px;
    }

    .submit-button {
      margin: 10px;
      font-size: 18px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: aquamarine;
      border-width: 0px;
      border-style: solid;
      border-radius: 5px;
    }
  }
</style>
