<style>
  * {
    font-family: 'Courier New', Courier, monospace;
  }

  .out-container, .main-content {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0px;
    height: 100%;
  }

  app-task-input {
    margin: 0px auto;
    background-color: rgb(18, 207, 144);
    padding: 10px;
    border-radius: 16px;
  }

  .content-area {
    background-color: rgb(18, 207, 144);
    display: flex;

  }
</style>

<main class="main-content">
  <div class="out-container">
    <app-task-input />
    <div class="content-area">
    </div>
  </div>
</main>

<script>

</script>

<router-outlet />
